celery==4.4.7
Flask_Cors==3.0.8
torch==1.5.0
Werkzeug==0.15.4
opencv_python==3.4.2.17
tensorflow_cpu==1.15.0
torchvision==0.6.0
requests==2.22.0
Flask==1.1.1
Shapely==1.7.0
numpy==1.16.4
pyclipper==1.1.0.post1
gevent==1.4.0
onnxruntime==1.5.1
Pillow==8.0.1
typing==3.7.4.3
