opencv_python==3.4.2.17
torchvision==0.6.0+cu92
gevent==1.4.0
Werkzeug==0.15.4
Flask_Cors==3.0.8
torch==1.5.0
pyclipper==1.1.0.post1
Shapely==1.7.0
celery==4.4.7
onnxruntime==1.5.1
requests==2.22.0
numpy==1.16.4
Flask==1.1.1
typing==3.7.4.3
